<body>
  <div class="box-login">
    <div class="titles-class">
      <h2>LOGIN</h2>
      <span class="subtitle">Bem-vindo ao sistema de mensagens!</span>
    </div>
    <div class="input-area">
      <div class="username">
        <label for="userName">Usuário: </label>
        <app-input [type]="'text'"></app-input>
      </div>
      <div class="password">
        <label for="userName">Senha: </label>
        <app-input [type]="'password'"></app-input>
      </div>
    </div>
    <div class="button-confirm">
     <span>Login</span>
    </div>
    <div class="footer">
      <a href="">Deseja criar um novo usuário?</a>
    </div>
  </div>
</body>